{
  "env": {
    "mocha": true
  },
  "globals": {
    "Cropper": true,
    "expect": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-new": "off",
    "no-unused-expressions": "off"
  }
}
