{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "no-param-reassign": "off",
    "no-restricted-properties": "off",
    "valid-jsdoc": ["error", {
      "requireReturn": false
    }]
  }
}
