:root {
  --vp-c-brand: #39f;
  --vp-c-brand-light: #47a3ff;
  --vp-c-brand-lighter: #5cadff;
  --vp-c-brand-dark: #148aff;
  --vp-c-brand-darker: #007af5;
}

.playground-container {
  .theme-default-content {
    max-width: none;
  }

  .page-meta {
    display: none;
  }
}

.theme-default-content:not(.custom) td {
  > a {
    white-space: nowrap;

    > img {
      max-width: none;
    }
  }
}
