// Variables
// --------------------------------------------------


// Colors
// -------------------------

$color-brand: #39f !default;
$color-black: #000 !default;
$color-white: #fff !default;


// Media queries breakpoints
// -------------------------

// Large screen / wide desktop
$screen-large-min: 1200px !default;

// Medium screen / desktop
$screen-medium-min: 992px !default;
$screen-medium-max: ($screen-large-min - 1) !default;

// Small screen / tablet
$screen-small-min: 768px !default;
$screen-small-max: ($screen-medium-min - 1) !default;

// Extra small screen / phone
$screen-x-small-max: ($screen-small-min - 1) !default;
